* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#canvas {
    border: 2px solid #000;
}

section, h1, h3 {
    margin: 2% 0;
}

p, h3 {
    text-align: center;
}